@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  color-scheme: dark light;

  --text: white;
  --back: black;
  --back_alt: rgb(32, 32, 32);
  --button_color: rgb(225, 225, 225);
  --button_hover_color: rgb(192, 192, 192);
  --button_text: black;
  --button_border_color: white;

  --border_color: rgba(255, 255, 255, 0.7);
  --box_shadow_color: rgba(255, 255, 255, 0.5);
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --text: black;
    --back: white;
    --back_alt: rgb(225, 225, 225);
    --button_color: rgb(32, 32, 32);
    --button_hover_color: rgb(64, 64, 64);
    --button_text: white;
    --button_border_color: black;

    --border_color: rgba(0, 0, 0, 0.7);
    --box_shadow_color: rgba(0, 0, 0, 0.5);

  }
}

:root {
  color: var(--text);
  background-color: var(--back);
  font-family: "Inter", sans-serif;
}

* {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
}

header.HeroTitle {
  font-family: "Poppins", sans-serif;
  min-height: 360px;
  position: relative;
  clip-path: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}

header.HeroTitle .HeroCaption {
  text-align: center;
}

header.HeroTitle h1 {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
}

header.HeroTitle h2 {
  margin: 0;
  font-weight: 200;
}

.HeroTitleBack {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  z-index: -1;
  pointer-events: none;
  transform: translate(-50%, -50%);
  filter: brightness(0.3);
}

@media screen and (prefers-color-scheme: light) {
  .HeroTitleBack {
    filter: contrast(0.25) brightness(1.5);
  }
}


a {
  color: rgb(96, 255, 215);
  text-decoration: none;
  transition: color 0.1s ease-in;

  &:hover {
    color: rgb(204, 115, 255);
  }
}


@media (prefers-color-scheme: light) {


  a {
    color: rgb(18, 177, 156);
    text-decoration: none;
    transition: color 0.1s ease-in;

    &:hover {
      color: rgb(162, 0, 255);
    }
  }

}

a.UseButton,
button,
input[type=submit] {
  text-align: center;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 6px 12px;
  color: var(--button_text);
  background-color: var(--button_color);
  border: 1px solid var(--button_border_color);
  border-radius: 4px;

  box-sizing: border-box;
}

:is(a.UseButton, button, input[type=submit]):hover {
  background-color: var(--button_hover_color);
}

.CenterBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100svh;
}

.CenterBox.UseNav {
  height: calc(100svh - 50px);
}

.Card {
  padding: 8px;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: var(--back);
  box-shadow: 3px 3px 6px var(--box_shadow_color);
  border: 1px solid var(--border_color, #727d80bb);
  transition: box-shadow 0.1s ease-in;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}